.contactpage {
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 700px) {
    .contactpage {
        margin-top: 100px;
        height: 100vh;
}
}