@font-face {
    font-family: SVNGallery;
    src: url(SVN-Gallery\ Modern.otf);
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0px;
    background-color: #F5EDE0 !important;
    background-image: url(background.png);
    background-position: 5% 0%;
    background-size: cover;
}

.onepage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* navbar */

.navbar {
    border-radius: 0;
    margin-bottom: 0 !important;
    position: fixed;
}

.navbar-brand {
    color: #332316;
    font-family: SVNGallery;
    font-size: 20px;
    padding-left: 30px !important;
}

a {
    color: #332316 !important;
}

.navbar-right a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #332316;
    font-size: 18px;
    margin: 0px 20px 0px 20px;
    overflow: hidden !important;
}

.navbar-right a:hover {
    background-color: #F5EDE0 !important;
    font-weight: 600 !important;
    color: #332316 !important;
    border-bottom: #332316 solid 2px !important;
    overflow: hidden !important;
    transition: .3;
}

.nav .open a {
    background-color: #F5EDE0 !important;
}

.dropdown-menu {
    background-color: #F5EDE0 !important;
    border: 0px !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.dropdown-menu a {
    font-size: 18px !important;
    padding: 10px 10px !important;
    margin: 10px 10px;
    overflow: hidden !important;
}

.icon-bar {
    color: #332316 solid 1px !important;
}

.navbar-toggle {
    margin-right: 30px !important;
}

.icon-bar {
    background-color: #332316 !important;
}

/* end nav bar */

/* main page */
.col-lg-4 {
    height: 100%;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;

}

.dot {
    height: 30px;
    width: 30px;
    background-color: #4A5240;
    border-radius: 100%;
    margin: 20px 0px;
}

.line {
    background-color: #332316;
    width: 1.3px;
    height: 60%;
}

.name {
    display: flex;
    width: 100%;
    font-family: SVNGallery;
    font-size: 120px;
    color: #332316;
    overflow: hidden !important;
}

.page-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.name-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #332316;
    font-size: 48px;
}

/* end main page */

/* start about */
.frame {
    width: 85%;
    height: 28vw;
    background: #4A5240;
    border-radius: 100% 100% 0px 0px;
    border: #332316 solid 1.5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame img {
    height: 120%;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 28vw;
}

.sparkle-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #332316;
}

.sparkle img {
    height: 100px;
    margin: 0px 20px 0px 20px
}

.title {
    font-family: SVNGallery;
    font-size: 80px;
}

.content {
    width: 95%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
}

.see-more {
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

.see-more a:hover {
    text-decoration: none;
}

.text-seemore {
    margin-right: 10px;
    font-family: SVNGallery;
    font-size: 24px;
    padding-right: 10px;
    padding-bottom: 0px;

}

.text-seemore::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #332316;
    transition: width .3s;
}

.text-seemore:hover::after {
    width: 0;
}

.see-more img {
    transform: rotate(-90deg);
    width: 20px;
    height: 50px;
    margin-left: 18px;
}

/* end about me */

/* start work */
.sparkle-title-sparkle {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.work-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frame-work {
    width: 72%;
    height: 22vw;
    border-radius: 100% 100% 0px 0px;
    border: #332316 solid 1.5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-work a{
    height: 100%;
}

.frame-work img {
    height: 120%;
    transition-duration: 0.5s;
}

.frame-work img:hover{
    scale: 1.5;
    transition-duration: 0.5s;
}

.work-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 12px 0px 12px 0px;
}

.see-more-work {
    justify-content: center;
    margin: 0px;
    width: 100%;
}

.see-more-work a {
    margin: 0px;
}

.work-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.work-slider-container {
    display: flex;
    flex-direction: row;
}

/* end my work */

/* start contact */
.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    margin: 30px 0px;
}

input[type=text],
input[type=email],
#subject {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    resize: vertical;
    background-color: #F5EDE0;
    font-family: 'Montserrat', sans-serif;
}

input[type=text]:focus {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-bottom: 2px solid #332316;
    resize: vertical;
}

input[type=email]:focus {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-bottom: 2px solid #332316;
    resize: vertical;
}

select:focus {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-bottom: 2px solid #332316;
    resize: vertical;
}

#subject:focus {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-bottom: 2px solid #332316;
    resize: vertical;
}

label {
    font-family: 'Montserrat', sans-serif;
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #332316;
    font-weight: bold;
}

input[type=submit] {
    background-color: #473120;
    color: white;
    margin: 20px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #332316;
}

#subject{
    height: 200px;
}

.social-network {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 10px 0px;

}

.social-network-list {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.social-network-link {
    margin-right: 10px;
    font-family: SVNGallery;
    font-size: 20px;
    font-weight: 500;
    border-bottom: #332316 solid 1.5px;
    width: 150px;
    padding: 10px 10px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.social-network-list a:hover {
    transition: all 200ms ease-in;
    border-bottom: rgba(51, 35, 22, 0) solid 1px;
    text-decoration: none;
}

.social-network-link img {
    transform: rotate(-90deg);
    width: 20px;
    height: 50px;
    margin-left: 18px;
}

/* end contact */

.footer {
    background-color: #332316;
    color: #F5EDE0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px;
    overflow: hidden;
}

@media (max-width: 700px) {
    .navbar-fixed-top {
        width: 100vw;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .name {
        font-size: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .name-subtitle {
        font-size: 30px;
    }

    .about-me {
        height: 100vh;
    }

    .sparkle img {
        height: 50px;
    }

    .title {
        font-size: 50px;
    }

    .frame {
        width: 75%;
        height: 75vw;
    }

    .content {
        width: 80%;
        margin: 30px 0px;
    }

    .see-more {
        justify-content: center;
    }

    .work-slider-container {
        flex-direction: column;
    }

    .frame-work {
        width: 68%;
        height: 70vw;
    }

    #work {
        margin-top: 100px;
    }

    .subtitle {
        width: 80%;
    }

    .form {
        width: 80%;
    }
label{
    padding-top: 30px;
    padding-bottom: 0px;
}
#subject{
    height: 150px;
}
.social-network-responsive{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
}